.schedule-table {
    display: block;
    margin-left: 35%;
    margin-right: 25%;
    margin-top: 100px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    /*!*display: table;*!*/
}
@media screen and (max-width: 580px) {
    .schedule-table {
        display: block;
    }
}

.schedule-day-num {
    width: 3%;
}
.schedule-table table{
    width: 100%;
    border-collapse: collapse;
}
.schedule-table th{
    font-size: large;
    font-weight: 900;
    color: #ffffff;
    background: #93D5AA ;
}
.schedule-table tr {
    display: table-row;
    background: #f6f6f6;
}

.schedule-table tr:nth-of-type(odd){
    background: #e9e9e9;
}
.schedule-table td{
    font-size: large;
    text-align: left;
}
.schedule-table input {
     width: 100%;
 }

.schedule-table input[type=submit] {
    color: #FFFFFF;
    background: #93D5AA;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.schedule-table input[type=submit]:hover {
    background: #80d69d;
    text-decoration: none;
}